.x_content_moris {
    padding: 0 3px 6px;
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    margin-top: 5px;
}

.x_content_moris h4 {
    font-size: 16px;
    font-weight: 500;
}