<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Division</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">

                    <div class="input-group pull-right" style="float: right;width: 80px;">

                        <label class="control-label"> Items Per Page (1-100) </label>
                        <input name="itemsperpage" class="input-sm form-control pull-right" min=1 max=100 value=5 step=1
                            type="number" [(ngModel)]="itemsPerPage" (ngModelChange)="loadServerData($event)">
                    </div>

                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th (click)="isClicked()">
                                    <i class="fa"
                                        [ngClass]="isSelected ? 'fa-sort-asc fa-3x' : 'fa-sort-desc fa-3x'"></i> Name
                                </th>

                                <th>Action</th>

                            </tr>
                            <tr>
                                <th>&nbsp;</th>
                                <th><input class="input-sm form-control" [(ngModel)]="query.name"
                                        (ngModelChange)="loadServerData($event)" type="text"
                                        placeholder="Station Code" /></th>

                            </tr>
                        </thead>
                        <tbody *ngIf="!isLoading && (itemsPerPage)">
                            <tr *ngFor="let div of divisionResult;let index=index">
                                <td>{{(itemsPerPage) ? ((currentPage * itemsPerPage + index +1)-itemsPerPage):''}} </td>
                                <td>{{div.name}}</td>
                                <td>

                                    <button type="button" (click)="updateDivision(div)" class="btn btn-warning btn-xs"
                                        style="color:white;cursor: pointer;">
                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                    </button>


                                    <button type="button" (click)="removeDivision(div)" class="btn btn-danger btn-xs"
                                        aria-label="Left Align" style="color:#fff;cursor: pointer;">
                                        <span class="fa fa-trash-o" aria-hidden="true"></span>
                                    </button>


                                </td>


                            </tr>
                        </tbody>
                        <tbody *ngIf="isLoading">
                            <tr style="height:200px">
                                <td colspan="9" class="text-center"><i class="fa fa-spinner fa-4x fa-pulse"> </i>
                                </td>
                            </tr>
                        </tbody>

                        <tfoot>
                            <tr>
                                <td colspan="9" class="text-center">
                                    <!-- <app-pagination [maxPages]="maxPages" [current]="currentPage"
                                        [postsPerPage]="postsPerPage" [itemsPerPage]="itemsPerPage"
                                        (changePage)="pageChanged($event)"></app-pagination> -->
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>