<div class="login">

  <a class="hiddenanchor" id="signup"></a>
  <a class="hiddenanchor" id="signin"></a>

  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <form>
          <h1>Login Form</h1>
          <div>
            <input type="text" class="form-control" placeholder="Username" [(ngModel)]="model.username" name="username"
              [ngModelOptions]="{standalone: true}" #name="ngModel" required />
            <div *ngIf="name.invalid && (name.dirty || name.touched)">

              <div *ngIf="name.errors?.['required']" style="color:red">
                User Name is required.
              </div>
            </div>
          </div>
          <div>
            <input type="password" class="form-control" placeholder="Password" [(ngModel)]="model.password"
              name="password" [ngModelOptions]="{standalone: true}" #name="ngModel" required />
            <div *ngIf="name.invalid && (name.dirty || name.touched)">

              <div *ngIf="name.errors?.['required']" style="color:red">
                password is required.
              </div>
            </div>
          </div>
          <div>
            <a class="btn btn-default submit" (click)="login()" style="cursor: pointer;">Log in</a>
            <a class="reset_pass" href="#" [routerLink]="['/forgetpassword', 'onlyfor']">Lost your password?</a>
          </div>

          <div class="clearfix"></div>

          <div class="separator">
            <p class="change_link">New to site?
              <a href="#" class="to_register" routerLink="/register"> Create Account </a>
            </p>

            <div class="clearfix"></div>
            <br />


          </div>
        </form>
      </section>
    </div>


  </div>

</div>