<div class="page-title">
    <div class="title_left">
        <h3>Users <small>Some examples to get you started</small></h3>
    </div>



    <div class="clearfix"></div>

    <h2>Default Example <small>Users</small></h2>
    <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i
                    class="fa fa-wrench"></i></a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Settings 1</a>
                <a class="dropdown-item" href="#">Settings 2</a>
            </div>
        </li>
        <li><a class="close-link"><i class="fa fa-close"></i></a>
        </li>
    </ul>




    <div class="clearfix"></div>





    <table id="datatable-checkbox" class="table table-striped table-sm table-condensed table-hover bulk_action" style="width:100%">
        <thead>
            <tr>

                <th><input type="checkbox" id="check-all"></th>

                <th st-ratio="5" st-sort="trainNo">Train No</th>
                <th st-ratio="10" st-sort="originDay">Train Start Day</th>
                <th st-ratio="5" st-sort="drivingSectionOrderNo">Driving Section Order No</th>
                <th st-ratio="5" st-sort="fromStation">From</th>
                <th st-ratio="5" st-sort="toStation">To</th>
                <th st-ratio="10" st-sort="departureDay">Dep Day</th>
                <th st-ratio="10" st-sort="departureTime">Dep Time</th>
                <th st-ratio="10" st-sort="arrivalDay">Arrival Day</th>
                <th st-ratio="10" st-sort="arrivalTime">Arrival Time</th>
                <th st-ratio="10" st-sort="duration">Duration (in Min.)</th>
                <th st-ratio="10" st-sort="distance">Distance (in KM.)</th>
                <th st-ratio="10" st-sort="isDrivingDuty">Is Driving Duty Element</th>
                <th st-ratio="20" st-sort="isIgnore">Is Ignored</th>
                <th st-ratio="5">Actions</th>
            </tr>
        </thead>


        <tbody>
            <tr *ngFor="let user of result">
                <td>
                    <input type="checkbox" id="check-all">
                </td>
                <td>{{user.Name}}</td>
                <td>{{user.Position}}</td>
                <td>{{user.Office}}</td>
                <td>{{user.Age}}</td>
                <td>{{user.Startdate}}</td>
                <td>{{user.Salary}}</td>
            </tr>



        </tbody>
    </table>






</div>