<div class="card">

    <div class="card-header container-fluid">
        <div class="row">
            <div class="col-md-10">
                <h4 class="my-0 font-weight-normal">Create trains</h4>
            </div>

        </div>
    </div>

    <div class="card-body">

        <div class="row">
            <div class="col-lg-12">

                <h3>{{(selectedTrainDetails)?'Update':'Create'}} Train</h3>

            </div>
        </div>

        <div class="row">
            <div class="col-lg-12" id="trainFormDiv">
                <form role="form" name="trainForm" #TrainForm="ngForm" novalidate
                    (ngSubmit)="saveTrain(selectedTrainDetails); TrainForm.resetForm()">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="control-label">Train No </label> <input type="number" name="trainno"
                                required="true" class="form-control" [(ngModel)]="selectedTrainDetails.trainNo"
                                [disabled]="selectedTrainDetails.isEditable">
                        </div>
                        <div class="form-group">
                            <label class="control-label">Train Name</label> <input
                                [(ngModel)]="selectedTrainDetails.trainName" required="true" name="trainname"
                                type="text" class="form-control">
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">

                            <label class="control-label">From</label>
                            <input [(ngModel)]="selectedTrainDetails.fromStation" required="true" name="from"
                                type="text" class="form-control">
                        </div>


                        <div class="form-group">

                            <label class="control-label">To
                            </label>
                            <input [(ngModel)]="selectedTrainDetails.toStation" required="true" name="to" type="text"
                                class="form-control">

                        </div>
                        <div class="form-group">

                            <label class="control-label">Start Day
                            </label>
                            <input [(ngModel)]="selectedTrainDetails.runningDays" required="true" name="days"
                                type="text" class="form-control">

                        </div>
                        <div class="form-group">
                            <label>Train Type </label>

                            <!-- <select class="form-control" name="traintype" [(ngModel)]="selectedTrainDetails.trainType">
                                <option value="" selected disabled hidden>Choose here</option>
                                <option *ngFor="let tt of trainTypesList" [ngValue]="tt">
                                    {{tt.trainType}}
                                </option>
                            </select> -->

                        </div>

                    </div>
                    <div class="col-lg-12">
                        <button type="submit" class="btn btn-primary btn-sm" [disabled]="!TrainForm.form.valid">
                            <!-- {{(traindetails._links.self)?'Update':'Create'}} Train -->
                            save
                        </button>

                        <input type="button" class="btn btn-danger btn-sm"
                            ng-click="reset();clearInput('ddlFromStation');" value="Reset" />
                    </div>
                </form>
            </div>
        </div>



    </div>
</div>