<div>

    <div class="page-title">
        <div class="title_left">
            <h5>Create Role</h5>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
             List of Register Users

             <form #f="ngForm">
                <div class="input-group" style="float: right;width: 100px;">
                    <input name="limitValue" min="1" max="100" step=1 placeholder="Items Per Page (1-100)"
                        maxlength="3" type="number" [(ngModel)]="itemsPerPage"
                        class="form-control">
                </div>

                <div class="input-group" style="float: left;width: 100px;">
                    <input name="pageValue" min="1" max="100" step=1 placeholder="Pages"
                        maxlength="3" type="number" [(ngModel)]="currentPage"
                        class="form-control">
                </div>

             </form>
             
        </div>
        <div class="card-body">

            <table class="table table-striped table-condensed table-hover">
                <thead>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">Username</th>
                        <th scope="col">Password</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Email</th>
                        <th scope="col">Created</th>
                        <th>All</th>
                        <th>Action</th>

                    </tr>
                </thead>
                <tbody *ngIf="!isLoading && (itemsPerPage)">
                    <tr *ngFor="let user of usersList;let index=index">
                        <td>{{(itemsPerPage)? ((currentPage * itemsPerPage + index +1)-itemsPerPage ):''}} </td>
                        <td>{{user.username}}</td>
                        <td>{{user.password}}</td>
                        <td>{{user.firstname}}</td>
                        <td>{{user.lastname}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.createdtime}}</td>
                        <td>
                            <input type="checkbox" value="{{user._id}}" [(ngModel)]="usersList[index].isUserchecked">
                        </td>

                        <td>

                            <button type="button" (click)="selectUser(user)" class="btn btn-warning btn-xs"
                                style="color:rgb(244, 247, 240);cursor: pointer;">
                                <i class="fa fa-edit" aria-hidden="true"></i>
                            </button>


                            <button type="button" (click)="removeUser(user)" class="btn btn-danger btn-xs"
                                aria-label="Left Align" style="color:rgb(233, 227, 227);cursor: pointer;">
                                <span class="fa fa-trash-o" aria-hidden="true"></span>
                            </button>


                        </td>

                    </tr>

                </tbody>
                <tbody *ngIf="isLoading">
                    <tr>
                        <td colspan="8" class="text-center"><i class="fa fa-spinner fa-4x fa-pulse"> </i>...
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>


    <div class="card">
        <div class="card-header">
            <h3>Create your account here ?</h3>
        </div>
        <div class="card-body">

            <form #RegForm="ngForm" (ngSubmit)="addUser(RegForm)" novalidate>
                <div class="col-lg-12">

                    <input type="text" id="form3Example3" class="form-control form-control-sm"
                        placeholder="Enter Username" [(ngModel)]="model.username" name="name"
                        [ngModelOptions]="{standalone: true}" #name="ngModel" required />

                    <div *ngIf="name.invalid && (name.dirty || name.touched)">

                        <div *ngIf="name.errors?.['required']" style="color:red">
                            User Name is required.
                        </div>
                    </div>


                    <br />

                    <input [type]="isShow ? 'text' : 'password'" id="form3Example4" name="pass"
                        class="form-control form-control-sm" placeholder="Enter Password" [(ngModel)]="model.password"
                        [ngModelOptions]="{standalone: true}" #pass="ngModel" required />



                    <div *ngIf="pass.invalid && (pass.dirty || pass.touched)">

                        <div *ngIf="pass.errors?.['required']" style="color:red">
                            Password is required.
                        </div>
                    </div>

                    <br />

                    <select name="selectedRole" id="rr" class="form-control" [(ngModel)]="model.code">
                        <option *ngFor="let r of roleCodesList" [value]="r">{{r}}</option>
                    </select>


                    <br>
                    <input type="text" id="form3Example5" class="form-control form-control-sm"
                        placeholder="Enter firstName" [(ngModel)]="model.firstname"
                        [ngModelOptions]="{standalone: true}" />

                    <br>
                    <input type="text" id="form3Example6" class="form-control form-control-sm"
                        placeholder="Enter LastName" [(ngModel)]="model.lastname"
                        [ngModelOptions]="{standalone: true}" />

                    <br>

                    <input type="email" id="form3Example7" class="form-control form-control-sm"
                        placeholder="Enter Email" [(ngModel)]="model.email" [ngModelOptions]="{standalone: true}" />


                    <br>
                    <input type="text" id="form3Example8" class="form-control form-control-sm" placeholder="Enter token"
                        [(ngModel)]="model.token" [ngModelOptions]="{standalone: true}" />

                    <br>






                </div>


                <div class="col-md-8">
                    <button type="submit" [disabled]="false" class="btn btn-outline-primary btn-md">
                        <i class="fa fa-plus"> Register</i>
                    </button>

                    <button type="button" [disabled]="false" class="btn btn-outline-warning btn-md" (click)="update()">
                        <i class="fa fa-pencil">Update </i>
                    </button>

                    <button type="button" (click)="password()" class="btn btn-outline-secondary btn-md">
                        <i class="fa" [ngClass]="{'fa-eye':isShow,'fa-eye-slash':!isShow}"></i>
                    </button>


                </div>

            </form>
        </div>
    </div>