

.x_content_donhut {
    padding: 0 3px 6px;
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    margin-top: 5px; 
    border: 1px #CCC solid;
    height:350px;
}
  
  .x_content h4 {
    font-size: 16px;
    font-weight: 500; 
}


