<div class="card mb-4 box-shadow">
    <div class="card-header container-fluid">
        <div class="row">
            <div class="col-md-10">
                <h4 class="my-0 font-weight-normal">List of trains</h4>
            </div>
        </div>
    </div>
    <table class="table table-striped table-sm table-borderless  table-condensed table-hover">

        <thead>
            <th></th>
            <th></th>
            <th>
                <!-- <input type="text" class="form-control" [(ngModel)]="query.trainNumber"
                    (ngModelChange)="loadTrainsList($event)" name="trainNumber" resize [nwidth]="100"> -->

                <input type="text" class="form-control" [(ngModel)]="query.trainNumber"
                    (ngModelChange)="loadTrainsList($event)" name="trainNumber">
            </th>
            <th>
                <input type="text" class="form-control" [(ngModel)]="query.trainname"
                    (ngModelChange)="loadTrainsList($event)" name="trainname">
            </th>
            <th>
                <input type="text" class="form-control" [(ngModel)]="query.fromstation"
                    (ngModelChange)="loadTrainsList($event)" name="fromstation">
            </th>

            <th>
                <input type="text" class="form-control" [(ngModel)]="query.tostation"
                    (ngModelChange)="loadTrainsList($event)" name="tostation">
            </th>

        </thead>

        <thead class="tbheader">
            <tr>
                <th></th>
                <th>No.</th>
                <th>TrainNo</th>
                <th>TrainName</th>
                <th>Source</th>
                <th>Destination</th>
                <th>Days</th>
                <th>Types</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>Days</th>

            </tr>
        </thead>
        <tbody *ngIf="!isLoading && (itemsPerPage)">
            <tr *ngFor="let train of trainLists;let index=index" style="cursor : pointer"
                [ngClass]="getSelectedTrainCss(train)">
                <td><a (click)="trainTimeTable({trainNo:train.trainno,startDay:train.runningDays})"
                        class="btn btn-success btn-xs fa fa-th-list" style="color:#ffff" title="View"></a></td>
                <td>{{(itemsPerPage)? ((currentPage * itemsPerPage + index +1)-itemsPerPage ):''}} </td>
                <td>{{train.trainno}}</td>
                <td>{{train.trainname}}</td>
                <td>{{train.source}}</td>
                <td>{{train.destination}}</td>
                <td>
                    <select name="select" id="aantal" class="form-control input-sm">
                        <option value="" disabled selected>days</option>
                        <option *ngFor="let r of train.runningDays" [value]="r">{{days[r].toUpperCase().slice(0,10)}}
                        </option>
                    </select>
                </td>

                <td>{{train.trainType}}</td>
                <td *ngFor="let r of train.runningDays">{{days[r].toUpperCase().slice(0,3)}}</td>


            </tr>
        </tbody>
        <tbody *ngIf="isLoading">
            <tr style="height:200px">
                <td colspan="11" class="text-center"><i class="fa fa-spinner fa-4x fa-pulse"> </i></td>
            </tr>
        </tbody>
    </table>

    <div class="card-footer">
        
            <app-pagination [maxPages]="maxPages" [current]="currentPage" [postsPerPage]="postsPerPage"
                [itemsPerPage]="itemsPerPage" (changePage)="pageChanged($event)" [totalPages]="totalPages"
                [autoHide]="true"></app-pagination>

      
    </div>



</div>

<app-createtrain></app-createtrain>