.nav-md .container.body .right_col {
    padding: 0 !important;
    margin-left: 0 !important;
}

.highlight {
    background: yellow;
}

.tbheader {
    background-color: #3F7F7F;
    color: white;
    font-weight: bolder;
    /* position: absolute; */
    /* top: 0; */
    /* width: 100%; */
}

.selected-train-section{
    background-color: #5cb85c !important;
    border-color: #4cae4c;
}