<br>
<div class="row">
    <div class="col-lg-12">
        
            <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".csv,.pdf,.doc,.docx">
            <i class="bi bi-plus"></i> add files
       
        &nbsp;
        <button type="button" class="btn btn-primary"><i class="bi bi-upload"></i> start</button>
        &nbsp;
        <button type="button" class="btn btn-success">
            <i class="bi bi-x-square"></i> cancel</button>
        &nbsp;
        <button type="button" class="btn btn-danger"> <i class="bi bi-trash"></i> delete </button>

    </div>

</div>

<br>
<br>


<div class="div-table">
    <div class="div-table-header">
        <div class="div-table-cell">title</div>
        <div class="div-table-cell">creator</div>
        <div class="div-table-cell">size</div>
        <div class="div-table-cell">comment</div>
        <div class="div-table-cell">type</div>
        <div class="div-table-cell">status</div>
        <div class="div-table-cell">Last Modified Date</div>
        <div class="div-table-cell">action</div>
    </div>
    <div class="rowGroup" *ngFor="let upload of uploadlist">
        <div class="div-table-row">
            <div class="div-table-cell"> {{upload.title}}</div>
            <div class="div-table-cell">{{upload.creator}}</div>
            <!-- <div class="div-table-cell"> {{upload.size|fileSize}}</div> -->
            <div class="div-table-cell"> {{upload.comment}}</div>
            <div class="div-table-cell"> {{upload.type}}</div>
            <div class="div-table-cell"> {{upload.status}}</div>
            <div class="div-table-cell"> {{upload.lastdate}}</div>

            <div class="div-table-cell">
                <button type="button" class="btn btn-danger btn-sm" (click)="deleteUpload(upload)"><i class="bi bi-trash"></i></button>
                &nbsp;
                <button type="button" class="btn btn-warning btn-sm"><i class="bi bi-pencil"></i></button>
            </div>
        </div>
    </div>

</div>