

.div-table {
    display: table;
    border-spacing: 0px;
    table-layout: fixed;
    width: 100%;
    border: 1px solid #ccc;
    overflow: scroll;
    float: left;
    border-collapse: collapse;
    cursor: pointer;

}

.div-table-header {
    display: table-header-group;
    color: whitesmoke;
    background-color: rgb(55, 179, 39);
    font-weight: 600;
}

.div-table-row {
    display: table-row;
    clear: both;

}

.rowGroup:nth-child(even) {
    background-color: rgb(110, 115, 117);
}

.rowGroup:nth-child(odd) {
    background-color: rgb(226, 227, 229)
}

.rowGroup {
    display: table-row-group;
    box-sizing: border-box;

}

.div-table-cell {
    display: table-cell;
    border-bottom: 1px solid rgb(63, 60, 60);
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.rowGroup:hover {
    background-color: #f5f5f5
}


@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        margin: 0 0 1rem 0;
    }

    tr:nth-child(odd) {
        background: #ccc;
    }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 0;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    /*
  Label the data
You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
  */
    td:nth-of-type(1):before {
        content: "First Name";
    }

    td:nth-of-type(2):before {
        content: "Last Name";
    }

    td:nth-of-type(3):before {
        content: "Job Title";
    }

    td:nth-of-type(4):before {
        content: "Favorite Color";
    }

    td:nth-of-type(5):before {
        content: "Wars of Trek?";
    }

    td:nth-of-type(6):before {
        content: "Secret Alias";
    }

    td:nth-of-type(7):before {
        content: "Date of Birth";
    }

    td:nth-of-type(8):before {
        content: "Dream Vacation City";
    }

    td:nth-of-type(9):before {
        content: "GPA";
    }

    td:nth-of-type(10):before {
        content: "Arbitrary Data";
    }
}