.tbheader {
    background-color: #3F7F7F;
    color: white;
    font-weight: bolder;

}


input {
    background-color: transparent;
    border: 0px solid;
    width: 160px;

}

input{
    border-bottom: 1px solid green;
}
input:focus {
    outline: none;
}