<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">List Of Stations</h1>
        </div>
    </div>

    <div class=row>
        <div class="col-md-6 col-md-offset-2">
            <div *ngIf="!hasAdmin">
                <div class="alert alert-info text-center">
                    <strong>NOTE :</strong> <strong style="font-family:times new roman">To Create New Station please
                        Send Mail To Admin</strong>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>List Of Stations</h4>
                    <div class="input-group" style="float: right;width: 100px;">
                        <input 
                        name="itemsperpage" 
                        min="1" 
                        max="100" 
                        step=1
                        placeholder="Items Per Page (1-100)" 
                        maxlength="3" 
                        type="number" 
                        [(ngModel)]="query.limit"
                        required  
                        (ngModelChange)="loadStations($event)">
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-sm table-condensed table-hover">
                        <thead class="tbheader">
                            <tr>
                                <th>S.No.</th>
                                <th>Station Code</th>
                                <th>Station Name</th>
                                <th>HQ Sign On(min.)</th>
                                <th>HQ Sign Off(min.)</th>
                                <th>OS Sign On(min.)</th>
                                <th>OS Sign Off(min.)</th>
                                <th>Actions</th>
                            </tr>

                        </thead>
                        <thead>
                            <tr>
                                <th>&nbsp;</th>
                                <th><input type="text" placeholder="Station Code"
                                        [(ngModel)]="query.code" (ngModelChange)="loadStations($event)" /></th>

                                <th><input type="text"  placeholder="Station Name"
                                        [(ngModel)]="query.name" (ngModelChange)="loadStations($event)" /></th>

                                <th>&nbsp;</th>
                                <th>&nbsp;</th>

                                <th>&nbsp;</th>

                            </tr>
                        </thead>
                        <tbody *ngIf="!isLoading && (itemsPerPage)">
                            <tr *ngFor="let station of stations;let index=index">
                                <td>{{(itemsPerPage)? ((currentPage * itemsPerPage + index +1)-itemsPerPage ):''}} </td>
                                <td>{{station.code}}</td>
                                <td>{{station.name}}</td>
                                <td>{{station.headstationsignOnTime}}</td>
                                <td>{{station.headstationsignoffTime}}</td>
                                <td>{{station.outStationSignOnTime}}</td>
                                <td>{{station.outStationSignOffTime}}</td>
                                <td>

                                    <button type="button" (click)="selectStation(station)"
                                        class="btn btn-default btn-xs"
                                        style="color:yellowgreen;cursor: pointer;">
                                        <i class="fa fa-edit" aria-hidden="true"></i>
                                    </button>


                                    <button type="button" (click)="removeStation(station)"
                                        class="btn btn-default btn-xs" aria-label="Left Align"
                                        style="color:red;cursor: pointer;">
                                        <span class="fa fa-trash-o" aria-hidden="true"></span>
                                    </button>


                                </td>
                               

                            </tr>
                        </tbody>
                        <tbody *ngIf="isLoading">
                            <tr>
                                <td colspan="8" class="text-center"><i class="fa fa-spinner fa-4x fa-pulse"> </i>...
                                </td>
                            </tr>
                        </tbody>

                        <tfoot>
                            <tr>
                                <!-- <td colspan="8" class="text-center">
									<div st-items-by-page="itemsPerPage" st-pagination=""
										st-template="scripts/directives/pagination/pagination.custom.html"></div>
								</td> -->
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- <div ng-show="!hasAdmin"><h5 class="mailClass">To Create Station Send Mail To Admin</h5></div> -->
    <!-- <station-form stationdetails="selectedStation" ng-show="hasAdmin"></station-form> -->
    <!-- <toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'position-class':'toast-bottom-right'}"></toaster-container> -->
</div>