

.forgot {
    background-color: #fff;
    padding: 12px;
    border: 1px solid #dfdfdf;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.padding-bottom-3x {
    padding-bottom: 72px !important;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}




