<div>


    <div class="card">
        <div class="card-header">

        </div>
        <div class="card-body">
            <div class="forgot">
                <h2>Forgot your password?</h2>
                <p>Change your password in three easy steps. This will help you to secure your password!</p>
                <ol class="list-unstyled">
                    <li><span class="text-primary text-medium">1. </span>Enter your email address below.</li>
                    <li><span class="text-primary text-medium">2. </span>Our system will send you a temporary link</li>
                    <li><span class="text-primary text-medium">3. </span>Use the link to reset your password</li>
                </ol>
            </div>



            <form class="card mt-4">
                <div class="card-body">
                    <div class="form-group"> <input class="form-control" type="text" id="email-for-pass"
                            placeholder="Enter Email" [(ngModel)]="model.email" name="name"
                            [ngModelOptions]="{standalone: true}" #name="ngModel" required> </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-success" type="button" (click)="resetUserPassword()">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> Get New
                        Password</button>
                    <button class="btn btn-danger" type="button" routerLink="/login">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i> Back to Login</button>
                </div>
                <div class="card-footer">
                    <span *ngIf="true" class="text-medium" style="margin: left 184px !important;;
                    color: red;">
                        <h1>{{errormessage}}</h1>
                    </span>


                </div>

            </form>

        </div>
    </div>




    <div class="card">
        <div class="card-header">

        </div>
        <div class="card-body">


            <div class="form-group"> <input class="form-control" type="text" id="newpass" placeholder="New Pasword"
                    [(ngModel)]="changemodel.newpass" name="newpass" [ngModelOptions]="{standalone: true}"
                    #name="ngModel" required>
            </div>

            <div class="form-group"> <input class="form-control" type="text" id="renewpass" placeholder="ReType Pasword"
                    [(ngModel)]="changemodel.renewpass" name="renewpass" [ngModelOptions]="{standalone: true}"
                    #name="ngModel" required (ngModelChange)="validatePassword($event)">
            </div>
            <span style="color:red" *ngIf="ismatch">
                <h3>password does'nt match !!</h3>
            </span>

        </div>

        <div class="card-footer">

            <button class="btn btn-danger" type="button" (click)="resetUserPassword()">
                <i class="fa fa-cutlery" aria-hidden="true"></i> Reset Password</button>


        </div>
    </div>

</div>