<div>
    <div class="page-title">
        <div class="title_left">
            <h5>Create Role</h5>
        </div>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>


    <div class="alert alert-success  box-msg" role="alert" *ngIf="showloader">
        {{message}}
    </div>
    <div class="clear-fix"></div>
    <div class="row">
        <div class="col-lg-6">

            <div class="form-group">
                <label>Role </label>

                <select class="form-control" [(ngModel)]="userdetails.role" name="role">
                    <option value="" selected>--Select Role--</option>
                    <option *ngFor="let r of roles">{{r.code}}</option>
                </select>
            </div>
        </div>
    </div>


    <label class="col-sm-12">
        Choose Role
    </label>


    <div class="row">

        <div class="form-group">
            <label class="col-sm-12">
                administrator
                <input type="radio" name="paymentType" value="administrator" [(ngModel)]="userdetails.roleType">
            </label>
        </div>

        <div class="form-group">
            <label class="col-sm-12">
                super admin
                <input type="radio" name="paymentType" value=" superadmin" [(ngModel)]="userdetails.roleType">
            </label>
        </div>

        <div class="form-group">
            <label class="col-sm-12">
                modeler
                <input type="radio" name="paymentType" value="modeler" [(ngModel)]="userdetails.roleType">
            </label>
        </div>

        <div class="form-group">
            <label class="col-sm-12">
                viewer
                <input type="radio" name="paymentType" value="viewer" [(ngModel)]="userdetails.roleType">
            </label>
        </div>

        <div class="form-group">
            <label class="col-sm-12">
                Sucriber
                <input type="radio" name="paymentType" value="Sucriber" [(ngModel)]="userdetails.roleType">
            </label>
        </div>

        <div class="form-group">
            <label class="col-sm-12">
                Author
                <input type="radio" name="paymentType" value="Author" [(ngModel)]="userdetails.roleType">
            </label>
        </div>
        <div class="form-group">
            <label class="col-sm-12">
                contributor
                <input type="radio" name="paymentType" value="contributor" [(ngModel)]="userdetails.roleType">
            </label>
        </div>

        <div class="form-group">
            <label class="col-sm-12">
                Editor
                <input type="radio" name="paymentType" value="Editor" [(ngModel)]="userdetails.roleType">
            </label>
        </div>

        <div class="form-group">
            <label class="col-sm-12">
                Resticted User
                <input type="radio" name="paymentType" value=" RestictedUser" [(ngModel)]="userdetails.roleType">
            </label>
        </div>

        <div class="form-group">
            <label class="col-sm-12">
                Regular User
                <input type="radio" name="paymentType" value="RegularUser" [(ngModel)]="userdetails.roleType">
            </label>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

            <table class="table table-condensed custom_hover">
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Assign Role <input type="checkbox" [checked]="isAllCheckBoxChecked()"
                                (change)="checkAllCheckBox($event)"></th>
                        <th>username</th>
                        <th>password</th>
                        <th>email</th>
                        <th>firstName</th>
                        <th>lastname</th>
                    </tr>

                </thead>

                <tbody *ngIf="itemsPerPage">
                    <tr *ngFor="let user of usersList;let index=index;let odd = odd"
                        [ngClass]="odd ? 'odd_col' : 'even_col'">
                        <td>{{(itemsPerPage)? ((currentPage * itemsPerPage + index +1)-itemsPerPage ):''}} </td>
                        <td>
                            <input type="checkbox" value="{{user._id}}" [(ngModel)]="usersList[index].isUserchecked">
                        </td>
                        <td>{{user.username}}</td>
                        <td>{{user.password}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.firstname}}</td>
                        <td>{{user.lastname}}</td>
                    </tr>
                </tbody>

            </table>

        </div>

    </div>



    <div class="row">
        <div class="col-lg-12">
            <button type="button" class="btn btn-primary btn-sm" (click)="createRole()">
                <i class="fa fa-plus" aria-hidden="true"></i> {{(userdetails)?'Create':'Update'}} Role & assign

            </button>
            <!-- <input type="button" class="btn btn-danger btn-sm"
                ng-click="reset();clearInput('ddlHeadStation');" value="Reset" /> -->

        </div>
    </div>


</div>