

ul.pagination {
  display: inline-block;
  padding: 0;
  margin: 0;
}

ul.pagination li {
  display: inline;
}

ul.pagination li a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: bolder;
}

ul.pagination li a.active {
  background-color: #4CAF50!important;
  color: white;
}



ul.pagination li a:hover:not(.active) {
  background-color: #ddd;
}