<div class="row">
    <div class="col-lg-6" *ngIf="_autoHide">
        <nav aria-label="Pagination" *ngIf="maxPages > 1">
            <ul class="pagination">
                <li><a (click)="setPage(0, 10)">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i> 
                     First</a>
                </li>
                <li [class.disabled]="current == 1">
                    <a href="javascript:;" (click)="setPage(current-1, itemsPerPage)" aria-label="Previous">
                        <i class="fa fa-angle-double-left" aria-hidden="true"></i> Previous
                    </a>
                </li>
                <li *ngFor="let page of pages;" [ngClass]="{'active': page == current}">
                    <a href="javascript:;" (click)="setPage(page, itemsPerPage)">{{ page }}</a>
                </li>
                <li [class.disabled]="current == maxPages">
                    <a href="javascript:;" (click)="setPage(current+1 ,itemsPerPage)" aria-label="Next">
                        Next <i class="fa fa-angle-double-right" aria-hidden="true"></i>
                    </a>
                </li>

                <li><a (click)="(current!=totalPages)?setPage(0,totalPages):null">
                    Last <i class="fa fa-chevron-right" aria-hidden="true"></i> </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-lg-6 text-right per-page">
        <nav aria-label="Anzahl der Beiträge pro Seite">
            <div class="container text-center">
                <p class="text-muted credit" style="color:rgb(156, 27, 27)">Designed and developed by @sahusantosh</p>
            </div>
            <ul class="pagination">
                <li *ngFor="let perPage of postsPerPage;">
                    <a href="javascript:;" (click)="setPage(current, perPage)"
                        [ngClass]="{'active': perPage == itemsPerPage}">{{ perPage }}</a>
                </li>
            </ul>
        </nav>


        <div class="form-group">
            <label for="contactMethod">select Page</label>
            <select name="contactMethod" class="form-control" (ngModelChange)='setPage(0,0)'>
                <option *ngFor="let perPage of postsPerPage;" [ngValue]="perPage">{{ perPage }}</option>
            </select>
        </div>

        <div class="col-sm-2">
            Items per page:
            <input type="number" class="form-control input-sm" [(ngModel)]="itemsPerPage"
                (ngModelChange)="setPage(current,itemsPerPage)" name="page" min="10" max="100" step="1" maxlength="3"
                required placeholder="page">
        </div>

    </div>
</div>