<!-- <button (click)="toggleSidebar()" type="button" class=" btn btn-link">
    <i class="fa fa-bars"></i>
</button> -->
<app-navbar></app-navbar>

<div id="sidebar_area">

    <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
            <div class="profile clearfix">
                <div class="profile_pic">
                    <img src="../../../assets/images/img.jpg" alt="..." class="img-circle profile_img">
                </div>
                <div class="profile_info">
                    <span>Welcome,</span>
                    <h2>{{username}}</h2>
                </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                <div class="menu_section">
                    <h3>General</h3>
                    <ul class="nav side-menu">


                        <li><a class="nav-link" href="#" routerLink="/home/dashboard"><i class="fa fa-home"></i>
                                Home
                            </a>

                        </li>

                        <li><a><i class="fa fa-upload"></i> Uploads <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a href="/home/upload/trains-upload">Train Upload</a></li>
                                <li><a href="/home/upload/trainstation-upload">TrainStation Upload</a></li>
                                <li><a href="/home/upload/division-upload">Division Upload</a></li>
                                <li><a href="/home/upload/station-upload">Station Upload</a></li>
                                <li><a href="/home/upload/list">List Upload</a></li>

                            </ul>
                        </li>


                        <li><a><i class="fa fa-home"></i> Division <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a class="nav-link" routerLink="/home/division/list">List of
                                        division</a></li>
                                <li><a class="nav-link" routerLink="/home/division/create">Create
                                        Division</a></li>
                                <li><a class="nav-link" routerLink="/home/division/graph">Division
                                        Chart</a></li>

                            </ul>
                        </li>


                        <li><a><i class="fa fa-table"></i> DrivingSection <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a routerLinkActive="nav-link" href="#"
                                        routerLink="/home/drivingsection/create">create-driving-section</a>
                                </li>
                                <li><a routerLinkActive="nav-link" href="#" routerLink="/home/drivingsection/list">
                                        list-driving-section</a></li>
                            </ul>
                        </li>


                        <li><a><i class="fa fa-train"></i> Trains <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a class="nav-link" routerLink="/home/trains/list">List of Trains</a>
                                </li>
                                <li><a class="nav-link" routerLink="/home/trains/create">Create Train</a>
                                </li>

                            </ul>
                        </li>


                        <li><a><i class="fa fa-train"></i> Role <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a class="nav-link" routerLink="/home/role/list">List of roles</a>
                                </li>
                                <li><a class="nav-link" routerLink="/home/role/create">Create role</a>
                                </li>

                            </ul>
                        </li>


                        <li><a><i class="fa fa-car"></i> station <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a class="nav-link" routerLink="/home/station/list">List of
                                        stations</a>
                                </li>
                                <li><a class="nav-link" routerLink="/home/station/create">Create
                                        stations</a>
                                </li>

                            </ul>
                        </li>



                        <li><a class="nav-link" href="#" routerLink="/home/barchart"><i class="fa fa-edit"></i>
                                BarCharts
                            </a>

                        </li>
                        <li><a class="nav-link" href="#" routerLink="/blankpage">Plain Page</a></li>
                        <li><a class="nav-link" href="#" routerLink="/home/linechart"><i class="fa fa-edit"></i> Line
                            </a>

                        </li>
                        <li><a class="nav-link" href="#" routerLink="/home/clinechart"><i class="fa fa-edit"></i> Cline
                            </a>

                        </li>



                        <li><a><i class="fa fa-bar-chart-o"></i> Data Presentation <span
                                    class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li><a routerLinkActive="nav-link" routerLink="/home/datapresentation/chartJS">Chart
                                        JS</a></li>
                                <li><a routerLinkActive="nav-link" routerLink="/home/datapresentation/chartJS2">Chart
                                        JS2</a></li>
                                <li><a routerLinkActive="nav-link" routerLink="/home/datapresentation/MorisJS">Moris
                                        JS</a></li>
                                <li><a routerLinkActive="nav-link"
                                        routerLink="/home/datapresentation/ECharts">ECharts</a></li>
                                <li><a routerLinkActive="nav-link" routerLink="/home/datapresentation/otherCharts">Other
                                        Charts</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>

            </div>
            <!-- /sidebar menu -->

            <!-- /menu footer buttons -->
            <div class="sidebar-footer hidden-small">
                <a data-toggle="tooltip" data-placement="top" title="Settings">
                    <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                    <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Lock">
                    <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
                </a>
                <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                    <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                </a>
            </div>
            <!-- /menu footer buttons -->
        </div>

    </div>
</div>