.spinner {
    position: fixed;
    padding: 0px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9998;
    background: #000;
    opacity: 0.6;
    transition: opacity 0.3s linear;
}

.center {
    margin: auto;
    width: 100%;
}

.loading-text {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
    padding: 0;
    margin: 0;
    color: #FFF;
    font-family: sans-serif;
    background: transparent;
    text-align: center;
    padding-top: 33%;
}

.spinner img {
    position: fixed;
    padding: 0px;
    /* height: 100%;
    width: 100%;
    top: 0;
    left: 0; */
    z-index: 10;
    background: #000;
    opacity: 0.6;
    transition: opacity 0.3s linear;
}

.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.3s, opacity 0.3s linear;
}

.visible {
    visibility: visible;
}

.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
    left: 48%;
    top: 47%;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}

.lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    margin: -3px 0 0 -3px;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loading-spinner-text {
    font-size: 26px;
}

.loading-spinner-text {
    font-size: 26px;
}