<div #spinnerContainer [class]="showSpinner ? 'visible spinner center' : 'hidden spinner center'"
    [innerHTML]="template">
</div>
<div id="loading-spinner-text" class="loading-spinner-text" [style.zIndex]="zIndex"
    [class]="showSpinner ? 'visible loading-text' : 'hidden loading-text'"> {{loadingText}} </div>