<div class="nav-md">
    <div class="container body">
        <div class="main_container">
            <sidebar-navbar></sidebar-navbar>
            <!-- <app-rightsidebar></app-rightsidebar> -->
            <div class="right_col" role="main" id="main_area">
                <router-outlet></router-outlet>
            </div>
            <app-footer></app-footer>
        </div>
    </div>
</div>