<!-- page content -->
<div role="main">

  <div class="page-title">
    <div class="title_left">
      <h3>Trains Upload</h3>
    </div>

    <div class="title_right">
      <div class="col-md-5 col-sm-5   form-group row pull-right top_search">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Go!</button>
          </span>
        </div>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-8">

      <input type="file" (change)="selectFile($event)" />

      <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">
        Upload
      </button>
    </div>
  </div>

  <div *ngIf="currentFile" class="progress my-3">
    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
      attr.aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: progress + '%' }">
      {{ progress }}%
    </div>
  </div>

  <div *ngIf="message" class="alert alert-secondary" role="alert">{{ message }}</div>

  <div class="card mt-3">
    <div class="card-header">List of Files</div>

    <div class="card-body">
      <table class="table table-striped table-sm table-borderless  table-condensed table-hover">
        <thead>
          <tr>
            <th scope="col">slNo.</th>
            <th scope="col">filename</th>
            <th scope="col">creator</th>
            <th scope="col">action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let file of fileInfos;let index = index">
            <th scope="row">{{index+1}}</th>
            <td> <a href="{{ file.url }}">{{ file.originalFileName }}</a></td>
            <td> {{ file.creator }}</td>
            <td>
              <button type="button" class="btn btn-danger" (click)="deleteUpload(file)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>

              <button type="button" class="btn btn-warning">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </button>
            </td>

          </tr>


        </tbody>
      </table>
    </div>

    <div class="card-footer">List of Files</div>

  </div>






</div>

<!-- /page content -->