<div>
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Train Time Table</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <!-- Train No {{trainNo}} Originating On {{startDay}} -->
                    <div class="input-group pull-right" style="float: right;width: 80px;">

                        <label class="control-label"> Items Per Page (1-100) </label>
                        <input name="itemsperpage" class="input-sm form-control pull-right" min=1 max=100 value=5 step=1
                            type="number" [(ngModel)]="itemsPerPage">
                    </div>

                </div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>TrainNo</th>
                                <th>Station Code</th>
                                <th>Station Name</th>
                                <th>Arrival</th>
                                <th>Departure</th>
                                <th>Distance (in KM)</th>
                                <th>Journey Duration (in Mins)</th>
                               
                            </tr>
                            <tr>
                                <th>&nbsp;</th>
                                <th><input class="input-sm form-control" type="text" placeholder="Station Code" /></th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="!isLoading && (itemsPerPage)">
                            <tr *ngFor="let trainStation of trainStationsResult;let index=index">
                                <td>{{(itemsPerPage) ? ((currentPage * itemsPerPage + index +1)-itemsPerPage):''}} </td>
                                <td>{{trainStation.trainNo}}</td>
                                <td>{{trainStation.stationCode}}</td>
                                <td>{{trainStation.stationName}}</td>
                                <td>{{trainStation.arrivalTime}}</td>
                                <td>{{trainStation.departureTime}}</td>
                                <td>{{trainStation.distance}}</td>
                                <td>{{trainStation.dayOfJourney}}</td>


                            </tr>
                        </tbody>
                        <tbody *ngIf="isLoading">
                            <tr style="height:200px">
                                <td colspan="9" class="text-center"><i class="fa fa-spinner fa-4x fa-pulse"> </i>
                                </td>
                            </tr>
                        </tbody>

                        <tfoot>
                            <tr>
                                <!-- <td colspan="9" class="text-center">
									<div st-items-by-page="itemsPerPage" st-pagination=""
										st-template="scripts/directives/pagination/pagination.custom.html"></div>
								</td> -->
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>